.link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: var(--color-text);
  transition: width 0.2s;
}

.link:hover:after {
  width: 100%;
}

.link.active:after {
  width: 100%;
}
