.close {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  background: none;
  border: none;
  color: white;
  font-size: 40px;
  line-height: 1;

  cursor: pointer;

  z-index: 5;
}
