.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}

.vertical {
  grid-row: span 2;
}
